@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300;400;500;600&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&display=swap');

body{
    
    background-color:  hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    font-weight: 400;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cartao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 320px;
    margin-top: 8px 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.cartao .qr-code img{
    width: 300px;
    height: 310px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px 5px;   
}

.cartao.informacoes{
    text-align: center;
}

.cartao .informacoes h1{
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 25px;
    margin: 10px 10px;
}

.cartao .informacoes p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 10px ;
    padding: 5px 30px 30px;  
    
}